/*==============================
*COMMON STYLES
===============================*/
body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
    font-weight: 900;
    line-height: 1em;
}
h2 {
    color:#502314;
    font-size: 55px;
}

h3,h4,h5,h6 {
    font-weight: 700;
    line-height: 1.3em;
    color:#502314;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 24px;
    font-weight: 500;
}

h6 {
    color:#502314;
    font-size: 22px;
}
p {
    font-weight: 400;
    line-height: 1.5em;
}
img {
    max-width: 100%;
    height:auto;
}
.btn.btn-info {
    background-color: #d62300;
    color:#fff;
    border: 1px solid #d62300;
    border-radius:25px;
    padding:12px 35px;
}
.bg-info {
    background: #f5ebdc !important;
}
#about, #work, #service, #contact, #footer {
    padding-top: 90px;
    
}

/*==============================
*HEADER AREA STYLES STARTS
===============================*/
#main_menu nav {
    background-color: #ebe2d3;
    font-weight: 500;
}
#main_menu nav ul li {
    margin-left :15px;
}
#main_menu a.active {
    color: #d62300;
    font-weight:700;
}


/*==============================
*Slider STYLES STARTS
===============================*/
#slider {
    padding-top: 85px;
}


/*==============================
*Contact Area STYLES STARTS
===============================*/
#contact {
    background: url('img/map.jpg') no-repeat center;
}

/*==============================
*Footer Area STYLES STARTS
===============================*/
#footer form .btn.btn-info {
    border-radius:0;
}
#footer ul li a {
    color: #262626;
    text-decoration: none;
    font-weight: 500    ;
}
#footer .social li{
    display: inline-block;
    margin-right: 15px;
}